/* Boxed theme */

.boxed {
	/*max-width:1200px;*/
	margin:0 auto;
	box-shadow: 10px 10px 100px -19px rgba(0,0,0,0.75);
	background:#fff;
}
.boxed .navbar{
	/*max-width:1200px;*/
	margin:0 auto;
}
.boxed #layerslider{max-height:600px!important;overflow:hidden;}